APP_ID="YOUR_APP_ID"
WEBHOOK_SECRET="YOUR_WEBHOOK_SECRET"
GITHUB_PRIVATE_KEY_PATH="YOUR_PATH_TO_PRIVATE_GITHUB_KEY"
WEBHOOK_PROXY_URL="YOUR_WEBHOOK_PROXY_URL"
OPENROUTER_API_KEY="YOUR_KEY"
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL="postgres://user:password@localhost:5432/your_db"
AUTH0_DOMAIN="your-tenant-domain"
AUTH0_AUDIENCE="your-audience"
BASE_URL="http://localhost:5173"